---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/main/Hero.astro'
import Servicios from '../components/main/Servicios.astro'
---

<!-- <script>
	document.getElementById('plan1')?.addEventListener('click', () => {
		window.open('https://buy.stripe.com/9AQ5mxa0zcfBcWQ003', '_blank')
	})

	document.getElementById('plan2')?.addEventListener('click', () => {
		window.open('https://buy.stripe.com/4gwbKVgoX0wTcWQeUY', '_blank')
	})
</script> -->
<Layout title="Terapia Psicologica">
	<main class="overflow-visible">
		<Header />
		<div class="mt-36">
			<Hero />
			<div class="mt-[480px]">
				<Servicios />
			</div>
		</div>
	</main>
</Layout>
