---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/main/Hero.astro'
import Servicios from '../components/main/Servicios.astro'
import Sobremi from '../components/main/Sobremi.astro'
import Testimonios from '../components/main/Testimonios.astro'
import Preguntas from '../components/main/Preguntas.astro'
import Ebook from '../components/main/Ebook.astro'
import Contacto from '../components/main/Contacto.astro'
---

<!-- <script>
	document.getElementById('plan1')?.addEventListener('click', () => {
		window.open('https://buy.stripe.com/9AQ5mxa0zcfBcWQ003', '_blank')
	})

	document.getElementById('plan2')?.addEventListener('click', () => {
		window.open('https://buy.stripe.com/4gwbKVgoX0wTcWQeUY', '_blank')
	})
</script> -->
<Layout title="Terapia Psicologica">
	<main class="overflow-visible">
		<Header />
		<div class="pt-[56px] md:mt-[56px]">
			<Hero />
			<Servicios />
			<Sobremi />
			<Testimonios />
			<Preguntas />
			<Ebook />
			<Contacto />
		</div>
	</main>
</Layout>
