<form
	action="https://api.smtprelay.co/contact/add?version=2"
	data-id="KZrVtCofAX"
	method="post"
	id="ewf_subscriptionForm_KZrVtCofAX"
>
	<fieldset style="border:none;" class="webform-custominputs">
		<div class="flex flex-col gap-6">
			<div>
				<input
					maxlength="81"
					class="w-full rounded-lg bg-white p-4 drop-shadow-lg"
					name="email"
					type="email"
					placeholder="Email"
				/>
			</div>
			<div>
				<input
					maxlength="100"
					class="w-full rounded-lg bg-white p-4 drop-shadow-lg"
					name="field_firstname"
					size="20"
					type="text"
					placeholder="Nombre"
				/>
			</div>
			<div>
				<div class="flex items-center gap-2">
					<input type="checkbox" id="rules" name="rules" class="h-6 w-6" />
					<label class="text-xs" for="rules"
						>He leído y acepto la política de protección de datos</label
					>
				</div>
			</div>
		</div>
		<div class="checkboxes"></div>
		<div class="webform-lists" style="display: none;">
			<div>
				<label class="container-box">
					<input
						type="checkbox"
						name="publiclistid"
						id="MkIkDNAQ"
						value="745c45bc-0e12-4b06-a0ac-75ae0305752d"
						checked="checked"
					/>
				</label>
				<label class="publiclistlabel" for="MkIkDNAQ">Gestiona Mailing List</label>
			</div>
		</div>
	</fieldset>
	<div class="flex flex-col items-center justify-center">
		<fieldset>
			<input
				type="submit"
				name="submit"
				value="¡QUIERO GESTIONAR MI PSICOLOGIA!"
				id="eesubmit"
				class="mt-8 rounded-md bg-[#CBC7DA] p-4 text-center text-sm font-bold text-white shadow"
			/>

			<input type="hidden" name="publicaccountid" value="9377d1ed-c310-4467-b52c-bee4e5379dcb" />
			<input type="hidden" name="returnUrl" value="http://www.gestionatupsicologia.com/gracias" />
			<input
				type="hidden"
				name="activationReturnUrl"
				value="http://www.gestionatupsicologia.com/gracias"
			/>
			<input
				type="hidden"
				name="alreadyactiveurl"
				value="http://www.gestionatupsicologia.com/gracias"
			/>
			<input type="hidden" name="activationTemplate" value="" />
			<input type="hidden" name="source" value="WebForm" />
			<input type="hidden" name="verifyemail" value="true" id="ewf_verifyEmails" />
			<input type="hidden" id="ewf_captcha" name="captcha" value="false" />
			<input type="hidden" name="sendActivation" value="false" />
			<input type="hidden" name="notifyEmail" value="" />
		</fieldset>
	</div>
</form>
