---
import { Image } from 'astro:assets'
import logotipo from '../assets/logotipo_purple.png'
import WhatsLogo from '../assets/Whatslogo.astro'

const menuItems = [
	{
		name: 'Inicio',
		path: '#'
	},
	{
		name: 'Servicios',
		path: '#servicios'
	},
	{
		name: 'Sobre Mi',
		path: '#sobremi'
	},
	{
		name: 'Testimonios',
		path: '#testimonios'
	},
	{
		name: 'Preguntas',
		path: '#preguntas'
	},

	{
		name: 'Contacto',
		path: '#contacto'
	}
]
---

<nav class="fixed start-0 top-0 z-20 w-full bg-white">
	<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
		<a href="#">
			<Image src={logotipo} alt="logotipo" width={200} height={200} />
		</a>

		<div class="hidden w-full items-center justify-between md:flex md:w-auto">
			{
				menuItems.map((item) => (
					<a
						href={item.path}
						class="font-sm px-4 py-2 text-sm font-light text-gray-700 hover:text-gray-500"
					>
						{item.name}
					</a>
				))
			}
		</div>
		<a
			href="https://api.whatsapp.com/message/LD54V7JCH3TXD1"
			class="flex items-center gap-2 rounded-lg bg-whatsapp p-2 shadow-lg hover:bg-green-400"
		>
			<WhatsLogo />
			<span class="text-sm text-white"> +52 (686) 234 - 9366</span>
		</a>
	</div>
</nav>
